<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WOW.Illustration.Utilities.ValuesOutputComparer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <WOW.Illustration.Utilities.ValuesOutputComparer.Properties.Settings>
            <setting name="LastDirectory" serializeAs="String">
                <value>D:\AppData\Illusfiles\</value>
            </setting>
            <setting name="MainFormTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MainFormLeft" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MainFormHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="MainFormWidth" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="DecimalPlaces" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ReleventOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExcludeLastColumnErrors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReformatFiles" serializeAs="String">
                <value>False</value>
            </setting>
        </WOW.Illustration.Utilities.ValuesOutputComparer.Properties.Settings>
    </userSettings>
</configuration>