<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        <section name="system.data.localdb" type="System.Data.LocalDBConfigurationSection,System.Data,Version=4.0.0.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WOW.WoodmenIllustrationService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.data.localdb>
        <localdbinstances>
            <!-- Change to 11.0 for Workstation Build-->
            <!--<add name="WIS_Instance" version="11.0" />-->
            <add name="WIS_Instance" version="14.0" />
        </localdbinstances>
    </system.data.localdb>
    <appSettings>
        <add key="webpages:Version" value="3.0.0.0" />
        <add key="webpages:Enabled" value="false" />
        <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />
        <add key="log4net.Internal.Debug" value="true" />
    </appSettings>
    <log4net>
        <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="WoodmenIllustrationService.log" />
            <appendToFile value="true" />
            <rollingStyle value="Size" />
            <maxSizeRollBackups value="10" />
            <maximumFileSize value="10MB" />
            <staticLogFileName value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
            </layout>
        </appender>
        <logger name="ErrorFile">
            <appender-ref ref="RollingFileAppender" />
        </logger>
        <root>
            <level value="DEBUG" />
            <appender-ref ref="RollingFileAppender" />
        </root>
    </log4net>
    <system.web>
        <compilation debug="true" targetFramework="4.8" />
        <httpRuntime targetFramework="4.8" />
        <trace enabled="true" pageOutput="false" requestLimit="40" localOnly="false" />
    </system.web>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGatewayService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:05:00" sendTimeout="00:01:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IPersonSceneSearchService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:05:00" sendTimeout="00:01:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://lpa-test.woodmen.net/GatewayService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGatewayService" contract="LpaGatewayService.IGatewayService" name="BasicHttpBinding_IGatewayService" />
            <endpoint address="https://lpa-test.woodmen.net/PersonSceneSearchService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPersonSceneSearchService" contract="LpaSearchService.IPersonSceneSearchService" name="BasicHttpBinding_IPersonSceneSearchService" />
            <!--<endpoint address="https://wowtest-web.sapiens.com/GatewayService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGatewayService" contract="LpaGatewayService.IGatewayService" name="BasicHttpBinding_IGatewayService" />
    <endpoint address="https://wowtest-web.sapiens.com/PersonSceneSearchService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPersonSceneSearchService" contract="LpaSearchService.IPersonSceneSearchService" name="BasicHttpBinding_IPersonSceneSearchService" />-->
        </client>
    </system.serviceModel>
    <applicationSettings>
        <WOW.WoodmenIllustrationService.Properties.Settings>
            <setting name="LpaBatchUsername" serializeAs="String">
                <value>sa_lpa</value>
            </setting>
            <setting name="LpaBatchPassword" serializeAs="String">
                <value>w00dm3nLP@</value>
            </setting>
            <setting name="UploadStorageFolder" serializeAs="String">
                <value>~/App_Data/uploads</value>
            </setting>
            <setting name="PayloadStorageFolder" serializeAs="String">
                <value>~/App_Data/payloads</value>
            </setting>
            <setting name="PayloadFileExtension" serializeAs="String">
                <value>payload</value>
            </setting>
            <setting name="SqlCommandTimeout" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="DistributionChannelName" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LogAcordMessages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogWimMessages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HeaderCodesWithSuppressedDues" serializeAs="String">
                <value>850,855,860,865,870,875</value>
            </setting>
            <setting name="Term2016HeaderCodes" serializeAs="String">
                <value>850,855,860,865,870,875,880,885</value>
            </setting>
            <setting name="IntegrationDbConnectionString" serializeAs="String">
                <value>Connection Timeout=60;Data Source=(localdb)\WIS_Instance;Initial Catalog=WOWIntegration;Integrated Security=True;AttachDbFileName=|DataDirectory|\WOWIntegration.mdf;</value>
            </setting>
            <setting name="WcfGatewayServiceClientName" serializeAs="String">
                <value>BasicHttpBinding_IGatewayService</value>
            </setting>
            <setting name="WcfSearchServiceClientName" serializeAs="String">
                <value>BasicHttpBinding_IPersonSceneSearchService</value>
            </setting>
            <setting name="BackDateHeaderCodes" serializeAs="String">
                <value>123,124,280,281,282,283,284,290,291,292,293,294,295,296,297,298,850,855,860,865,870,875,880,885</value>
            </setting>
            <setting name="FRHierarchyServiceEndpoint" serializeAs="String">
                <value>https://eim.woodmen.net/FRHierarchyRESTService/api/v2/Hierarchy2/GetAgent?FRCode=</value>
            </setting>
        </WOW.WoodmenIllustrationService.Properties.Settings>
    </applicationSettings>
    <system.webServer>
        <handlers>
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
            <remove name="OPTIONSVerbHandler" />
            <remove name="TRACEVerbHandler" />
            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
        </handlers>
    </system.webServer>
</configuration>