USE [master]
GO
CREATE DATABASE [MobileRaterService_TEST] ON  PRIMARY 
( NAME = N'MobileRaterService_TEST', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\MobileRaterService_TEST.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MobileRaterService_TEST_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\MobileRaterService_TEST_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
--IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
--begin
--EXEC [MobileRaterService_TEST].[dbo].[sp_fulltext_database] @action = 'enable'
--end
--GO
--ALTER DATABASE [MobileRaterService_TEST] SET ANSI_NULL_DEFAULT OFF 
--GO
--ALTER DATABASE [MobileRaterService_TEST] SET ANSI_NULLS OFF 
--GO
--ALTER DATABASE [MobileRaterService_TEST] SET ANSI_PADDING OFF 
--GO
--ALTER DATABASE [MobileRaterService_TEST] SET ANSI_WARNINGS OFF 
--GO
--ALTER DATABASE [MobileRaterService_TEST] SET ARITHABORT OFF 
--GO
--ALTER DATABASE [MobileRaterService_TEST] SET AUTO_CLOSE OFF 
--GO
--ALTER DATABASE [MobileRaterService_TEST] SET AUTO_CREATE_STATISTICS ON 
--GO
--ALTER DATABASE [MobileRaterService_TEST] SET AUTO_SHRINK OFF 
--GO
--ALTER DATABASE [MobileRaterService_TEST] SET AUTO_UPDATE_STATISTICS ON 
--GO
--ALTER DATABASE [MobileRaterService_TEST] SET CURSOR_CLOSE_ON_COMMIT OFF 
--GO
--ALTER DATABASE [MobileRaterService_TEST] SET CURSOR_DEFAULT  GLOBAL 
--GO
--ALTER DATABASE [MobileRaterService_TEST] SET CONCAT_NULL_YIELDS_NULL OFF 
--GO
--ALTER DATABASE [MobileRaterService_TEST] SET NUMERIC_ROUNDABORT OFF 
--GO
--ALTER DATABASE [MobileRaterService_TEST] SET QUOTED_IDENTIFIER OFF 
--GO
--ALTER DATABASE [MobileRaterService_TEST] SET RECURSIVE_TRIGGERS OFF 
--GO
--ALTER DATABASE [MobileRaterService_TEST] SET  DISABLE_BROKER 
--GO
--ALTER DATABASE [MobileRaterService_TEST] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
--GO
--ALTER DATABASE [MobileRaterService_TEST] SET DATE_CORRELATION_OPTIMIZATION OFF 
--GO
--ALTER DATABASE [MobileRaterService_TEST] SET TRUSTWORTHY OFF 
--GO
--ALTER DATABASE [MobileRaterService_TEST] SET ALLOW_SNAPSHOT_ISOLATION OFF 
--GO
--ALTER DATABASE [MobileRaterService_TEST] SET PARAMETERIZATION SIMPLE 
--GO
--ALTER DATABASE [MobileRaterService_TEST] SET READ_COMMITTED_SNAPSHOT OFF 
--GO
--ALTER DATABASE [MobileRaterService_TEST] SET HONOR_BROKER_PRIORITY OFF 
--GO
ALTER DATABASE [MobileRaterService_TEST] SET RECOVERY SIMPLE 
GO
--ALTER DATABASE [MobileRaterService_TEST] SET  MULTI_USER 
--GO
--ALTER DATABASE [MobileRaterService_TEST] SET PAGE_VERIFY CHECKSUM  
--GO
--ALTER DATABASE [MobileRaterService_TEST] SET DB_CHAINING OFF 
--GO
--EXEC sys.sp_db_vardecimal_storage_format N'MobileRaterService_TEST', N'ON'
GO
USE [MobileRaterService_TEST]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AvailabilityTable](
    [CombinationID] [int] IDENTITY(1,1) NOT NULL,
    [HeaderCode] [smallint] NOT NULL,
    [StateGroupId] [smallint] NOT NULL,
    [MinInsuredAge] [tinyint] NOT NULL,
    [MaxInsuredAge] [tinyint] NOT NULL,
    [IsTobaccoUser] [bit] NULL,
    [MinRatingClass] [smallint] NOT NULL,
    [MaxRatingClass] [smallint] NOT NULL,
    [MinFaceAmount] [int] NOT NULL,
    [MaxFaceAmount] [int] NOT NULL,
    [Gender] [char](1) NULL,
    [IsWorkplace] [bit] NOT NULL,
    [BillingMethod] [char](1) NOT NULL,
    [BillingFrequency] [char](1) NOT NULL,
    [IsAIO] [bit] NULL,
    [MinAIOAmount] [int] NULL,
    [MaxAIOAmount] [int] NULL,
    [AWPRating] [tinyint] NULL,
    [MinPayorAge] [tinyint] NULL,
    [MaxPayorAge] [tinyint] NULL,
    [ADRating] [tinyint] NULL,
    [WPRating] [tinyint] NULL,
    [WMDRating] [tinyint] NULL,
 CONSTRAINT [PK_AvailabilityTable] PRIMARY KEY CLUSTERED 
(
    [CombinationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BaseRatings](
    [Code] [smallint] NOT NULL,
    [Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_BaseRatings] PRIMARY KEY CLUSTERED 
(
    [Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BillingFrequencies](
    [Code] [char](1) NOT NULL,
    [Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_BillingFrequencies] PRIMARY KEY CLUSTERED 
(
    [Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BillingMethods](
    [Code] [char](1) NOT NULL,
    [Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_BillingMethods] PRIMARY KEY CLUSTERED 
(
    [Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RiderRatings](
    [Code] [tinyint] NOT NULL,
    [Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_RiderRatings] PRIMARY KEY CLUSTERED 
(
    [Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StateGroupMaps](
    [StateGroupId] [smallint] NOT NULL,
    [StateCode] [char](2) NOT NULL,
 CONSTRAINT [PK_StateGroupMaps] PRIMARY KEY CLUSTERED 
(
    [StateGroupId] ASC,
    [StateCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StateGroups](
    [StateGroupId] [smallint] NOT NULL,
    [Description] [varchar](50) NOT NULL,
    [StartDate] [date] NOT NULL,
    [EndDate] [date] NOT NULL,
 CONSTRAINT [PK_StateGroups] PRIMARY KEY CLUSTERED 
(
    [StateGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[AvailabilityTable]  WITH CHECK ADD  CONSTRAINT [FK_AvailabilityTable_BaseRatingsMax] FOREIGN KEY([MinRatingClass])
REFERENCES [dbo].[BaseRatings] ([Code])
GO
ALTER TABLE [dbo].[AvailabilityTable] CHECK CONSTRAINT [FK_AvailabilityTable_BaseRatingsMax]
GO
ALTER TABLE [dbo].[AvailabilityTable]  WITH CHECK ADD  CONSTRAINT [FK_AvailabilityTable_BaseRatingsMin] FOREIGN KEY([MaxRatingClass])
REFERENCES [dbo].[BaseRatings] ([Code])
GO
ALTER TABLE [dbo].[AvailabilityTable] CHECK CONSTRAINT [FK_AvailabilityTable_BaseRatingsMin]
GO
ALTER TABLE [dbo].[AvailabilityTable]  WITH CHECK ADD  CONSTRAINT [FK_AvailabilityTable_BillingFrequencies] FOREIGN KEY([BillingFrequency])
REFERENCES [dbo].[BillingFrequencies] ([Code])
GO
ALTER TABLE [dbo].[AvailabilityTable] CHECK CONSTRAINT [FK_AvailabilityTable_BillingFrequencies]
GO
ALTER TABLE [dbo].[AvailabilityTable]  WITH CHECK ADD  CONSTRAINT [FK_AvailabilityTable_BillingMethods] FOREIGN KEY([BillingMethod])
REFERENCES [dbo].[BillingMethods] ([Code])
GO
ALTER TABLE [dbo].[AvailabilityTable] CHECK CONSTRAINT [FK_AvailabilityTable_BillingMethods]
GO
ALTER TABLE [dbo].[AvailabilityTable]  WITH CHECK ADD  CONSTRAINT [FK_AvailabilityTable_RiderRatingsAD] FOREIGN KEY([ADRating])
REFERENCES [dbo].[RiderRatings] ([Code])
GO
ALTER TABLE [dbo].[AvailabilityTable] CHECK CONSTRAINT [FK_AvailabilityTable_RiderRatingsAD]
GO
ALTER TABLE [dbo].[AvailabilityTable]  WITH CHECK ADD  CONSTRAINT [FK_AvailabilityTable_RiderRatingsAWP] FOREIGN KEY([AWPRating])
REFERENCES [dbo].[RiderRatings] ([Code])
GO
ALTER TABLE [dbo].[AvailabilityTable] CHECK CONSTRAINT [FK_AvailabilityTable_RiderRatingsAWP]
GO
ALTER TABLE [dbo].[AvailabilityTable]  WITH CHECK ADD  CONSTRAINT [FK_AvailabilityTable_RiderRatingsWMD] FOREIGN KEY([WMDRating])
REFERENCES [dbo].[RiderRatings] ([Code])
GO
ALTER TABLE [dbo].[AvailabilityTable] CHECK CONSTRAINT [FK_AvailabilityTable_RiderRatingsWMD]
GO
ALTER TABLE [dbo].[AvailabilityTable]  WITH CHECK ADD  CONSTRAINT [FK_AvailabilityTable_RiderRatingsWP] FOREIGN KEY([WPRating])
REFERENCES [dbo].[RiderRatings] ([Code])
GO
ALTER TABLE [dbo].[AvailabilityTable] CHECK CONSTRAINT [FK_AvailabilityTable_RiderRatingsWP]
GO
ALTER TABLE [dbo].[AvailabilityTable]  WITH CHECK ADD  CONSTRAINT [FK_AvailabilityTable_StateGroups] FOREIGN KEY([StateGroupId])
REFERENCES [dbo].[StateGroups] ([StateGroupId])
GO
ALTER TABLE [dbo].[AvailabilityTable] CHECK CONSTRAINT [FK_AvailabilityTable_StateGroups]
GO
ALTER TABLE [dbo].[StateGroupMaps]  WITH CHECK ADD  CONSTRAINT [FK_StateGroupMaps_StateGroups] FOREIGN KEY([StateGroupId])
REFERENCES [dbo].[StateGroups] ([StateGroupId])
GO
ALTER TABLE [dbo].[StateGroupMaps] CHECK CONSTRAINT [FK_StateGroupMaps_StateGroups]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trgAvailabilityTable]
   ON  [dbo].[AvailabilityTable]
   AFTER INSERT,UPDATE
AS 
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT *
        FROM AvailabilityTable A
        INNER JOIN inserted I
        ON A.HeaderCode = I.HeaderCode
        AND A.StateGroupId = I.StateGroupId
        AND A.MinInsuredAge = I.MaxInsuredAge
        AND A.MaxInsuredAge = I.MaxInsuredAge
        AND ISNULL(CAST(A.IsTobaccoUser AS int), -1) = ISNULL(CAST(I.IsTobaccoUser AS int), -1)
        AND A.MinRatingClass = I.MinRatingClass
        AND A.MaxRatingClass = I.MaxRatingClass
        AND A.MinFaceAmount = I.MinFaceAmount
        AND A.MaxFaceAmount = I.MaxFaceAmount
        AND ISNULL(A.Gender, '') = ISNULL(I.Gender, '')
        AND A.IsWorkplace = I.IsWorkplace
        AND A.BillingMethod = I.BillingMethod
        AND A.BillingFrequency = I.BillingFrequency
        AND ISNULL(CAST(A.IsAIO AS int), -1) = ISNULL(CAST(I.IsAIO AS int), -1)
        AND ISNULL(A.MinAIOAmount, -1) = ISNULL(I.MinAIOAmount, -1)
        AND ISNULL(A.MaxAIOAmount, -1) = ISNULL(I.MaxAIOAmount, -1)
        AND ISNULL(CAST(A.AWPRating AS int), -1) = ISNULL(CAST(I.AWPRating AS int), -1)
        AND ISNULL(CAST(A.MinPayorAge AS int), -1) = ISNULL(CAST(I.MinPayorAge AS int), -1)
        AND ISNULL(CAST(A.MaxPayorAge AS int), -1) = ISNULL(CAST(I.MaxPayorAge AS int), -1)
        AND ISNULL(CAST(A.ADRating AS int), -1) = ISNULL(CAST(I.ADRating AS int), -1)
        AND ISNULL(CAST(A.WPRating AS int), -1) = ISNULL(CAST(I.WPRating AS int), -1)
        AND ISNULL(CAST(A.WMDRating AS int), -1) = ISNULL(CAST(I.WMDRating AS int), -1)
        AND A.CombinationID <> I.CombinationID)
    BEGIN
    RAISERROR ('Duplicate row detected', 16, 1);
    ROLLBACK TRANSACTION;
    RETURN
    END
END

GO
USE [master]
GO

-- Load Pick List data
USE [MobileRaterService_TEST]
GO

Insert into dbo.BaseRatings values
(-2, 'Super Preferred'),
(-1, 'Preferred'),
(0, 'Standard'),
(1, 'Table 1'),
(2, 'Table 2'),
(3, 'Table 3'),
(4, 'Table 4'),
(5, 'Table 5'),
(6, 'Table 6'),
(7, 'Table 7'),
(8, 'Table 8'),
(9, 'Table 9'),
(10, 'Table 10'),
(11, 'Table 11'),
(12, 'Table 12'),
(13, 'Table 13'),
(14, 'Table 14'),
(15, 'Table 15'),
(16, 'Table 16')
go


Insert into dbo.BillingFrequencies values
('A', 'Annually'),
('M', 'Monthly'),
('Q', 'Quarterly'),
('S', 'Semi-Annually')
go


Insert into dbo.BillingMethods values
('D', 'Direct Bill'),
('L', 'List Bill'),
('P', 'PAC')
go


Insert into dbo.RiderRatings values
(0, 'No Coverage'),
(1, 'Standard Coverage'),
(2, '2X'),
(3, '3X')
go




Insert into dbo.StateGroupMaps
Select 1007, StateCode
from dbo.StateGroupMaps
where [StateGroupId] = 1003
and StateCode not in ('CT', 'MT', 'NY')
union
Select 1014, StateCode
from dbo.StateGroupMaps
where [StateGroupId] = 1003
and StateCode not in ('MT', 'NY')
union
Select 1015, StateCode
from dbo.StateGroupMaps
where [StateGroupId] = 1003
and StateCode not in ('MT', 'OR', 'NY')
union
Select 1016, StateCode
from dbo.StateGroupMaps
where [StateGroupId] = 1003
and StateCode not in ('OR', 'NY')
union
Select 1017, StateCode
from dbo.StateGroupMaps
where [StateGroupId] = 1003
and StateCode not in ('MT', 'NY', 'OR')
union
Select 1018, StateCode
from dbo.StateGroupMaps
where [StateGroupId] = 1003
and StateCode not in ('NY', 'OR')
union
Select 1019, StateCode
from dbo.StateGroupMaps
where [StateGroupId] = 1003
and StateCode not in ('MT','MD', 'NY')
union
Select 1020, StateCode
from dbo.StateGroupMaps
where [StateGroupId] = 1003
and StateCode not in ('MT','MD','OR', 'NY')
union
Select 1021, StateCode
from dbo.StateGroupMaps
where [StateGroupId] = 1003
and StateCode not in ('OR','MD', 'NY')
GO

