<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CommonIllustrationServiceTester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <CommonIllustrationServiceTester.Properties.Settings>
            <setting name="IllustrationsLocalWebServiceUrl" serializeAs="String">
                <value>http://localhost:51781/api/Illustrations/ProcessIllusRequest</value>
            </setting>
            <setting name="WebCallDelay" serializeAs="String">
                <value>00:00:05</value>
            </setting>
            <setting name="WebCallRetries" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="IllustrationsTestWebServiceUrl" serializeAs="String">
                <value>https://lpamw-test.woodmen.net/CIS/api/illustrations/ProcessIllusRequest</value>
            </setting>
            <setting name="IllustrationsUatWebServiceUrl" serializeAs="String">
                <value>https://lpamw-uat.woodmen.net/CIS/api/illustrations/ProcessIllusRequest</value>
            </setting>
            <setting name="IulOutputDirectory" serializeAs="String">
                <value>C:\Temp\</value>
            </setting>
            <setting name="IllustrationsModlWebServiceUrl" serializeAs="String">
                <value>https://lpamw-modl.woodmen.net/CIS/api/illustrations/ProcessIllusRequest</value>
            </setting>
            <setting name="IllustrationsProdWebServiceUrl" serializeAs="String">
                <value>https://lpamw.woodmen.net/CIS/api/Illustrations/ProcessIllusRequest</value>
            </setting>
            <setting name="IllustrationsIntWebServiceUrl" serializeAs="String">
                <value>https://lpamw-int.woodmen.net/CIS/api/illustrations/ProcessIllusRequest</value>
            </setting>
        </CommonIllustrationServiceTester.Properties.Settings>
    </userSettings>
</configuration>
