<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WOW.Illustration.TestTools.ACORDModelSerializationTester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WOW.Illustration.TestSerialization.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <WOW.Illustration.TestTools.ACORDModelSerializationTester.Properties.Settings>
            <setting name="LastTestSampleLocation" serializeAs="String">
                <value>G:\ProjOfc\Projects\W3\Illustration System Upgrade\03_Design\04_Micro Design\ACORD Message Model\TestCases\</value>
            </setting>
            <setting name="LastOutputLocation" serializeAs="String">
                <value>C:\Temp\Output</value>
            </setting>
        </WOW.Illustration.TestTools.ACORDModelSerializationTester.Properties.Settings>
        <WOW.Illustration.TestSerialization.Properties.Settings>
            <setting name="LastTestSampleLocation" serializeAs="String">
                <value>G:\ProjOfc\Projects\W3\Illustration System Upgrade\03_Design\04_Micro Design\ACORD Message Model\TestCases\</value>
            </setting>
            <setting name="LastOutputLocation" serializeAs="String">
                <value>C:\Temp\</value>
            </setting>
        </WOW.Illustration.TestSerialization.Properties.Settings>
    </userSettings>
</configuration>
