<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
      <section name="system.data.localdb" type="System.Data.LocalDBConfigurationSection,System.Data,Version=4.0.0.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WOW.WoodmenIntegrationService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="WOW.WoodmenIllustrationService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <system.data.localdb>
    <localdbinstances>
      <!-- Change to 11.0 for Workstation Build-->
      <!--<add name="WIS_Instance" version="11.0" />-->
      <add name="WIS_Instance" version="14.0" />
    </localdbinstances>
  </system.data.localdb>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="WoodmenIllustrationService.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="1" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <logger name="ErrorFile">
      <appender-ref ref="RollingFileAppender" />
    </logger>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IGatewayService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:05:00" sendTimeout="00:01:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <!-- Take this out for Workstation Build-->
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IPersonSceneSearchService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:05:00" sendTimeout="00:01:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <!-- Take this out for Workstation Build-->
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!-- Start Woodmen Datacenter Config -->
      <endpoint address="#{LPA_GW_SVC}#" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGatewayService" contract="LpaGatewayService.IGatewayService" name="BasicHttpBinding_IGatewayService" />
      <endpoint address="#{LPA_PSS_SVC}#" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPersonSceneSearchService" contract="LpaSearchService.IPersonSceneSearchService" name="BasicHttpBinding_IPersonSceneSearchService" />
      <!-- ORIGINAL
      <endpoint address="https://lpa-test.woodmen.net/GatewayService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGatewayService" contract="LpaGatewayService.IGatewayService" name="BasicHttpBinding_IGatewayService" />
      <endpoint address="https://lpa-test.woodmen.net/PersonSceneSearchService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPersonSceneSearchService" contract="LpaSearchService.IPersonSceneSearchService" name="BasicHttpBinding_IPersonSceneSearchService" />
      END ORIGINAL -->
      <!--<endpoint address="https://wowtest-web.sapiens.com/GatewayService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGatewayService" contract="LpaGatewayService.IGatewayService" name="BasicHttpBinding_IGatewayService" />
      <endpoint address="https://wowtest-web.sapiens.com/PersonSceneSearchService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPersonSceneSearchService" contract="LpaSearchService.IPersonSceneSearchService" name="BasicHttpBinding_IPersonSceneSearchService" />-->
      <!-- End Woodmen Datacenter Config -->
      <!-- Start Sales Workstation Config -->
      <!--<endpoint address="http://localhost:15000/services/DesktopGatewayService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGatewayService" contract="LpaGatewayService.IGatewayService" name="BasicHttpBinding_IGatewayService" />
      <endpoint address="http://localhost:15000/services/PersonSearchService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGatewayService" contract="LpaSearchService.IPersonSceneSearchService" name="BasicHttpBinding_IPersonSceneSearchService" />-->
      <!-- End Sales Workstation Config -->
    </client>
  </system.serviceModel>
  <applicationSettings>
    <WOW.WoodmenIllustrationService.Properties.Settings>
      <setting name="LpaBatchUsername" serializeAs="String">
        <value>sa_lpa</value>
      </setting>
      <setting name="LpaBatchPassword" serializeAs="String">
        <value>w00dm3nLP@</value>
      </setting>
      <setting name="UploadStorageFolder" serializeAs="String">
        <!--<value>~/App_Data/uploads</value>-->
        <value>D:\ProgramFiles\WoodmenLife\Woodmen Illustration Service\App_Data\uploads</value>
      </setting>
      <setting name="WcfGatewayServiceClientName" serializeAs="String">
        <value>BasicHttpBinding_IGatewayService</value>
      </setting>
      <setting name="PayloadStorageFolder" serializeAs="String">
        <!--<value>~/App_Data/payloads</value>-->
        <value>D:\ProgramFiles\WoodmenLife\Woodmen Illustration Service\App_Data\payloads</value>
      </setting>
      <setting name="PayloadFileExtension" serializeAs="String">
        <value>payload</value>
      </setting>
      <setting name="SqlCommandTimeout" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="WcfSearchServiceClientName" serializeAs="String">
        <value>BasicHttpBinding_IPersonSceneSearchService</value>
      </setting>
      <setting name="DistributionChannelName" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="IntegrationDbConnectionString" serializeAs="String">
        <!--<value>Data Source=(localdb)\WIS_Instance;Initial Catalog=WOWIntegration;Integrated Security=True;AttachDbFileName=|DataDirectory|\WOWIntegration.mdf;</value>-->
        <value>Data Source=(localdb)\WIS_Instance;Initial Catalog=WOWIntegration;Integrated Security=True;AttachDbFileName=D:\programfiles\WoodmenLife\Woodmen Illustration Service\App_Data\WOWIntegration.mdf;</value>
      </setting>
      <setting name="LogAcordMessages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogWimMessages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HeaderCodesWithSuppressedDues" serializeAs="String">
        <value>850,855,860,865,870,875</value>
      </setting>
      <setting name="Term2016HeaderCodes" serializeAs="String">
        <value>850,855,860,865,870,875,880,885</value>
      </setting>
      <setting name="BackDateHeaderCodes" serializeAs="String">    
        <value>123,124,280,281,282,283,284,290,291,292,293,294,295,296,297,298,850,855,860,865,870,875,880,885</value>
      </setting>
	  <setting name="FRHierarchyServiceEndpoint" serializeAs="String">
        <value>#{FASAT_ENDPOINT}#</value>
      </setting>  
    </WOW.WoodmenIllustrationService.Properties.Settings>
    <WOW.WoodmenIntegrationService.Properties.Settings>
      <setting name="PurgeFilesAfterDays" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="PurgeFilesCheckHours" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="PurgeFilesCheckSleepMilliseconds" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="ServiceUrl" serializeAs="String">
        <!-- Change to http for Workstation Build-->
        <value>https://+:2015</value>
        <!--<value>http://+:2015</value>-->
      </setting>	
    </WOW.WoodmenIntegrationService.Properties.Settings>
  </applicationSettings>
</configuration>
