
Use MobileRaterService_Test

select count(*) HC290_102
from AvTab8118
where headercode = 290 and StateGroupId = 102


select  distinct [HeaderCode]
      ,[StateGroupId]
      ,[MinInsuredAge]
      ,[MaxInsuredAge]
      ,[MinRatingClass]
      ,[MaxRatingClass]
      ,[MinFaceAmount]
      ,[MaxFaceAmount]
From AvTab8118
Where StateGroupId = 102
 and  HeaderCode = 290
Order by MinInsuredAge, MinRatingClass, MinFaceAmount


Delete
from AvTab8118
where headercode = 290 and StateGroupId = 102

Insert into AvTab8118
Select *
From dbo.vWA_WL2017_290_Extensions


select count(*)
from AvTab8118
where headercode = 290 and StateGroupId = 504

select  distinct [HeaderCode]
      ,[StateGroupId]
      ,[MinInsuredAge]
      ,[MaxInsuredAge]
      ,[MinRatingClass]
      ,[MaxRatingClass]
      ,[MinFaceAmount]
      ,[MaxFaceAmount]
From AvTab8118
Where StateGroupId = 504
 and  HeaderCode = 290
Order by MinInsuredAge, MinRatingClass, MinFaceAmount
