<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear /> <!-- ensure only the sources defined below are used -->
		<add key="IllustrationModels" value="https://pkgs.dev.azure.com/WoodmenLife/71b4bd9f-4f20-46af-9a6e-7963ecf8b787/_packaging/IllustrationModels/nuget/v3/index.json" />
		<add key="WoodmenLife" value="https://pkgs.dev.azure.com/WoodmenLife/_packaging/WoodmenLife/nuget/v3/index.json" />
        <add key="Artifactory" value="https://artifactory.woodmen.net/artifactory/api/nuget/nuget" />
        <!--<add key="NuGet.org" value="https://api.nuget.org/v3/index.json" /> Shouldn't be needed as it is included in upstream sources of some of the other sources-->
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
</configuration>