select distinct a.StateGroupId, Description
from AvailabilityTable a, StateGroups g, StateGroupMaps m
where HeaderCode in (290,291,292,293,294)
 and  a.StateGroupId=g.StateGroupId
 and  a.StateGroupId=m.StateGroupId
 and  m.StateCode='md'

select distinct HeaderCode as 'HC in 1014'
from AvailabilityTable
where StateGroupId=1014

select distinct HeaderCode as 'HC in 1015'
from AvailabilityTable
where StateGroupId=1015

select distinct HeaderCode as 'HC in 1016'
from AvailabilityTable
where StateGroupId=1016



