/****** Script for SelectTopNRows command from SSMS  ******/
insert into StateGroups
values 
(105,'MD', '2018-12-12','9999-99-99'),
(1019,'Non-MT/MD','2018-12-12','9999-99-99'),
(1020,'Non-MT/OR/MD','2018-12-12','9999-99-99'),
(1021,'Non-OR/MD','2018-12-12','9999-99-99')

select count(*)
from StateGroupMaps
where StateGroupId=1019

insert into StateGroupMaps
values
(105,'MD')

insert into StateGroupMaps
select 1019 stategroupid, StateAbbreviation
from StateSettings
where StateAbbreviation not in ('MT','MD')

insert into StateGroupMaps
select 1020, StateAbbreviation
from StateSettings
where StateAbbreviation not in ('MT','MD','OR')

insert into StateGroupMaps
select 1021, StateAbbreviation
from StateSettings
where StateAbbreviation not in ('OR','MD')

update StateGroups
set TerminationDate='2018-12-31'
where StateGroupId in (1015,1016)

