<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LpaDataFix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <LpaDataFix.Properties.Settings>
            <setting name="LpaConnectionString" serializeAs="String">
                <value>Data Source=database type=mssql;server=(LocalDB)\v11.0;database=WOWLPES;AttachDBFilename=C:\LPLADesktop\WOW\Databases\WOWLPES.mdf;Integrated Security=SSPI</value>
            </setting>
            <setting name="SqlQuery" serializeAs="String">
                <value>insert into dbo.Scenario select [ScenarioID], null, null,[ProspectID],17,null,4,null from [dbo].[ScenePointer] where [ScenarioID] not in (select [ScenarioID] from [dbo].[Scenario])</value>
            </setting>
            <setting name="LpaServiceName" serializeAs="String">
                <value>LifePortraitsWebServer - WOW</value>
            </setting>
            <setting name="LpaSyncServiceName" serializeAs="String">
                <value>LifeManagerService - WOW</value>
            </setting>
        </LpaDataFix.Properties.Settings>
    </applicationSettings>
</configuration>