<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConfigBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <applicationSettings>
        <ConfigBot.Properties.Settings>
            <setting name="OldString" serializeAs="String">
                <value>(LocalDB)\v11.0</value>
            </setting>
            <setting name="NewString" serializeAs="String">
                <value>(LocalDB)\MSSQLLocalDB</value>
            </setting>
            <setting name="TargetFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>C:\LPLADesktop\WOW\LifePortraits\LPESDatabase.config</string>
                        <string>C:\LPLADesktop\WOW\LifePortraits\PlanDatabase.config</string>
                        <string>C:\LPLADesktop\WOW\LifePortraits\SessionDatabase.config</string>
                        <string>C:\Program Files (x86)\WoodmenLife\Woodmen Illustration Service\WOW.WoodmenIntegrationService.exe.config</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ServiceNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>LifeManagerService - WOW</string>
                        <string>LifePortraitsWebServer - WOW</string>
                        <string>WoodmenIntegrationService</string>
                    </ArrayOfString>
                </value>
            </setting>
        </ConfigBot.Properties.Settings>
    </applicationSettings>
</configuration>