<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IGatewayService">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IGatewayService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:05:00" sendTimeout="00:01:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="2000" maxReceivedMessageSize="2147483647" portSharingEnabled="false" transactionFlow="false" listenBacklog="2147483647">
          <security mode="None">
            <message clientCredentialType="None"/>
            <transport protectionLevel="None" clientCredentialType="None"/>
          </security>
          <reliableSession enabled="false"/>
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://lpat1.hoad.local:8090/GatewayService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGatewayService" contract="LifePortraitsGatewayServiceReference.IGatewayService" name="NetTcpBinding_IGatewayService"/>
      <endpoint address="http://lpat1.hoad.local:8568/GatewayService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGatewayService" contract="LifePortraitsGatewayServiceReference.IGatewayService" name="BasicHttpBinding_IGatewayService"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
