@{
    ViewBag.Title = "LifePortraits Accelerate SSO Application";
}

<fieldset>
    <legend>@ViewBag.Title</legend>
    <p>
        <strong>Users:</strong><br />
        This web application is used to faciliate the LifePortraits Accelerate Single Sign-on feature. To access LPA, please log into MyWoodmen and use the secure bookmark provided.
    </p>
    <p>
        <a href="https://www.mywoodmen.org">Go to MyWoodmen &raquo;</a><br />
    </p>
</fieldset>
<br />
@using (Html.BeginForm("StartLpaSession", "Home", FormMethod.Get))
{
    <fieldset>
        <legend>LPA SSO Test Form</legend>
        <p>Enter a Woodmen Active Directory username to test with.</p>
        <input name="Username" type="text" value="" id="Username" />
        <input name="SubmitButton" type="submit" value="Go!" id="SubmitButton" disabled="disabled" title="Test form is disabled" />
    </fieldset>
}

@if (!String.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
{
    <br />
    <fieldset>
        <legend>Error Message</legend>
        <p>@ViewBag.ErrorMessage</p>
    </fieldset>
}

