<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
    <system.web xdt:Transform="Replace">
        <compilation targetFramework="4.8"/>
        <httpRuntime targetFramework="4.8"/>
    </system.web>
    <applicationSettings xdt:Transform="Replace">
        <WOW.MobileRaterService.Properties.Settings>
            <setting name="PremiumColumn" serializeAs="String">
                <value>1110,</value>
            </setting>
            <setting name="ValuesFileLabelLength" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="GenerationRequestTimeout" serializeAs="String">
                <value>00:05:00</value>
            </setting>
            <setting name="GenerationRequestMethod" serializeAs="String">
                <value>api/Illustrations/GenerateIllustration</value>
            </setting>
            <setting name="AULViaFIP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FipGenerateMethod" serializeAs="String">
                <value>api/Illustrations/GenerateIllustrationViaFip</value>
            </setting>
            <setting name="GeneratePDF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UploadStorageFolder" serializeAs="String">
                <value>~/App_Data/uploads</value>
            </setting>
            <setting name="PayloadStorageFolder" serializeAs="String">
                <value>~/App_Data/payloads</value>
            </setting>
            <setting name="DB2ConnectionString" serializeAs="String">
                <!--<value>Provider=IBMDADB2;Database=LDB2T;Hostname=MFPROD;Protocol=TCPIP;Port=5040;UID=MBRRTTST;PWD=TSTMBRRT;</value>-->
                <!--<value>Provider=IBMDADB2;Database=LDB2M;Hostname=MFPROD;Protocol=TCPIP;Port=5080;UID=MBRRTMDL;PWD=MDLMBRRT;</value>-->
                <value>Provider=IBMDADB2;Database=LDB2P;Hostname=MFPROD;Protocol=TCPIP;Port=5060;UID=MBRRTPRD;PWD=PRDMBRRT;</value>
            </setting>
            <setting name="DatabaseQueryTimeout" serializeAs="String">
                <value>00:00:30</value>
            </setting>
            <setting name="OverrideDate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OverrideDateValue" serializeAs="String">
                <value>2019-04-01</value>
            </setting>
            <setting name="GenerationRequestBaseUri" serializeAs="String">
                <value>#{WIS_URL}#</value>
            </setting>
        </WOW.MobileRaterService.Properties.Settings>
    </applicationSettings>
    <connectionStrings xdt:Transform="Replace">
        <add name="MobileRaterServiceEntities" connectionString="metadata=res://*/Data.MobileRaterServiceData.csdl|res://*/Data.MobileRaterServiceData.ssdl|res://*/Data.MobileRaterServiceData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=#{RATER_DB_SERVER}#;initial catalog=MobileRaterService;integrated security=SSPI;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
        <add name="MwagDbContext" connectionString="Data Source=#{MWAG_DB_SERVER}#;Initial Catalog=#{MWAG_DB}#;Integrated Security=SSPI;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>