<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LPA.Dashboard.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="WOW.IllustrationMgmntTool.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Highcharts" value="MDcxOTk5OTAxMDExMDAwMDAwMDE=" />
  </appSettings>
  <connectionStrings>
    <add name="DocGenEntities" connectionString="metadata=res://*/DocGenModel.csdl|res://*/DocGenModel.ssdl|res://*/DocGenModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tst-sql-db-2;initial catalog=WOWLPADashboard;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ReconEntities" connectionString="metadata=res://*/ReconModel.csdl|res://*/ReconModel.ssdl|res://*/ReconModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tst-sql-db-2;initial catalog=WoodmenReconService;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <threshold value="DEBUG" />
      <file value="Dashboard.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger - %message%newline%exception" />
      </layout>
    </appender>
    <logger name="ErrorFile">
      <appender-ref ref="RollingFileAppender" />
    </logger>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.6.2" />
    <authentication mode="Windows" />
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
    </modules>

    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <applicationSettings>
    <LPA.Dashboard.Web.Properties.Settings>
      <setting name="CacheExpirationHours" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="WebCallRetries" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="WebCallDelay" serializeAs="String">
        <value>00:00:05</value>
      </setting>
      <setting name="IllustrationsTestWebServiceUrl" serializeAs="String">
        <value>https://lpamw-test.woodmen.net/CIS/api/illustrations/ProcessIllusRequest</value>
      </setting>
      <setting name="IllustrationsUatWebServiceUrl" serializeAs="String">
        <value>https://lpamw-uat.woodmen.net/CIS/api/illustrations/ProcessIllusRequest</value>
      </setting>
      <setting name="IllustrationsModlWebServiceUrl" serializeAs="String">
        <value>https://lpamw-mdl.woodmen.net/CIS/api/illustrations/ProcessIllusRequest</value>
      </setting>
      <setting name="IllustrationsProdWebServiceUrl" serializeAs="String">
        <value>https://lpamw-prd.woodmen.net/CIS/api/illustrations/ProcessIllusRequest</value>
      </setting>
      <setting name="PageSize" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MaxSearchResults" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="RateHeader" serializeAs="String">
        <value>Rate'#'</value>
      </setting>
      <setting name="RateCodeHeader" serializeAs="String">
        <value>RateCode</value>
      </setting>
      <setting name="BandHeader" serializeAs="String">
        <value>Band</value>
      </setting>
      <setting name="AgeHeader" serializeAs="String">
        <value>Age</value>
      </setting>
      <setting name="YearHeader" serializeAs="String">
        <value>'#'</value>
      </setting>
      <setting name="IllustrationExcelFileDirectory" serializeAs="String">
        <value>\\fservpcv1\PROCDATA\Illustrations\ExcelFiles</value>
      </setting>
      <setting name="IllustrationSqlFileDirectory" serializeAs="String">
        <value>\\fservpcv1\PROCDATA\Illustrations\SqlUpdateFiles</value>
      </setting>
      <setting name="FundCodeHeader" serializeAs="String">
        <value>FundCode</value>
      </setting>
      <setting name="FundExpensePctHeader" serializeAs="String">
        <value>FundExpensePct</value>
      </setting>
      <setting name="Rate1Header" serializeAs="String">
        <value>Rate1</value>
      </setting>
      <setting name="StartDateHeader" serializeAs="String">
        <value>Start Date</value>
      </setting>
      <setting name="EndDateHeader" serializeAs="String">
        <value>End Date</value>
      </setting>
      <setting name="MessageHeader" serializeAs="String">
        <value>Message</value>
      </setting>
      <setting name="ReleaseNoteId" serializeAs="String">
        <value>73F77484-A558-4C1C-82D9-AA7600C0484D</value>
      </setting>
      <setting name="ProductIdHeader" serializeAs="String">
        <value>ProductID</value>
      </setting>
      <setting name="FieldValueHeader" serializeAs="String">
        <value>FieldValue</value>
      </setting>
      <setting name="NamedValueIdHeader" serializeAs="String">
        <value>NamedValueID</value>
      </setting>
      <setting name="PlanCommonIDHeader" serializeAs="String">
        <value>PlanCommonID</value>
      </setting>
      <setting name="GuarRateHeader" serializeAs="String">
        <value>GuarRate</value>
      </setting>
      <setting name="InitGuarRateHeader" serializeAs="String">
        <value>InitGuarRate</value>
      </setting>
      <setting name="RateDataIdHeader" serializeAs="String">
        <value>RateDataID</value>
      </setting>
      <setting name="ReleaseNoteTitleHeader" serializeAs="String">
        <value>ReleaseNoteTitle</value>
      </setting>
      <setting name="SMTPServer" serializeAs="String">
        <value>wesg.woodmen.net</value>
      </setting>
      <setting name="SMTPFromAddress" serializeAs="String">
        <value>autoMessage@woodmen.org</value>
      </setting>
      <setting name="WikiBaseUrl" serializeAs="String">
        <value>https://wiki.woodmen.net</value>
      </setting>
      <setting name="DevEmailAddress" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>unitdevs@woodmen.org</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ProductionEmailAddress" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>unitdevs@woodmen.org</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="IntegrationServer" serializeAs="String">
        <value>prd-lpi-as-1</value>
      </setting>
      <setting name="PuppetBaseUrl" serializeAs="String">
        <value>https://puppet-test.woodmen.net:8143</value>
      </setting>
      <setting name="ProdServerPrefix" serializeAs="String">
        <value>prd-lpa-as</value>
      </setting>
    </LPA.Dashboard.Web.Properties.Settings>
    <WOW.IllustrationMgmntTool.Common.Properties.Settings>
      <setting name="EntityFrameworkTimeout" serializeAs="String">
        <value>1200</value>
      </setting>
      <setting name="EntityFrameworkRetryDelayInSeconds" serializeAs="String">
        <value>00:00:03</value>
      </setting>
      <setting name="EntityFrameworkRetries" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="LpaDashboardDbString" serializeAs="String">
        <value>Server=tst-sql-db-2;Database=WOWLPADashboard;Integrated Security=SSPI;Connection Timeout=120;MultipleActiveResultSets=True;App=EntityFramework</value>
      </setting>
      <setting name="SqlCommandTimeout" serializeAs="String">
        <value>1200</value>
      </setting>
      <setting name="ReconServiceDbString" serializeAs="String">
        <value>Server=prd-sql-db-3;Database=WoodmenReconService;Integrated Security=SSPI;Connection Timeout=120;MultipleActiveResultSets=True;App=EntityFramework</value>
      </setting>
      <setting name="LpaManagementDbString" serializeAs="String">
        <value>Server=tst-sql-db-2;Database=LPA_MANAGEMENT;Integrated Security=SSPI;Connection Timeout=120;MultipleActiveResultSets=True;App=EntityFramework</value>
      </setting>
      <setting name="MaxSearchResults" serializeAs="String">
        <value>1000</value>
      </setting>
    </WOW.IllustrationMgmntTool.Common.Properties.Settings>
  </applicationSettings>
</configuration>