<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WOW.MyWoodmenIllustrationClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <applicationSettings>
    <WOW.MyWoodmenIllustrationClient.Properties.Settings>
      <setting name="DB2Connection" serializeAs="String">
        <value>Provider=IBMDADB2.DB2COPY1;Password=A1PORTB;User ID=PORTBTA;Data Source=DB2BETA</value>
      </setting>
      <setting name="DB2Retries" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="DB2CommandTimeoutSeconds" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="FipRequestFolder" serializeAs="String">
        <value>C:\Temp\Input</value>
      </setting>
      <setting name="BatchSectionMarker" serializeAs="String">
        <value>Batch</value>
      </setting>
      <setting name="FipRequestTimeout" serializeAs="String">
        <value>00:02:00</value>
      </setting>
      <setting name="FipRequestUrl" serializeAs="String">
        <value>https://localhost:33834/api/Illustrations/GenerateIllustrationViaFip</value>
      </setting>
      <setting name="ShortSleep_ms" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="DB2PollingFrequency" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ThreadTimeout_ms" serializeAs="String">
        <value>5000</value>
      </setting>
    </WOW.MyWoodmenIllustrationClient.Properties.Settings>
  </applicationSettings>
</configuration>
