-- NY StateCode 31 StateAbbrev NY
-- StateGroupId 101 NY

--select * 
--from StateGroupMaps sgm INNER JOIN StateGroups sg ON sgm.StateGroupId = sg.StateGroupId
--where sgm.StateCode = 'NY'

--select * from AvailabilityTable where StateGroupId = 101
-- Remove all AvailabilityTable entries for NY
delete from AvailabilityTable where StateGroupId = 101

--select * from StateGroupMaps where StateGroupId = 101
-- Remove StateGroupMap entries for NY state group 
delete from StateGroupMaps where StateGroupId = 101

--select * from StateGroupMaps where StateCode = 'NY'
-- Remove NY entries from StateGroupMaps where NY was included
delete from StateGroupMaps where StateCode = 'NY'

--select * from StateGroups where StateGroupId = 101
-- Remove StateGroup entry for NY state group 
delete from StateGroups where StateGroupId = 101

--select * from AvailabilityTable WHERE StateGroupId = 1
-- Update AvailabilityTable entries for All to Non-NY state group
--UPDATE AvailabilityTable SET StateGroupId = 1003 WHERE StateGroupId = 1

-- Remove the AvailabilityTable entries for state group ALL since it is no longer used
DELETE from AvailabilityTable WHERE StateGroupId = 1 -- All

-- Remove obsolete StateGroupMaps since All is no longer valid
DELETE from StateGroupMaps WHERE StateGroupId = 1 -- All

-- Remove obsolete StateGroups since All is no longer valid
DELETE from StateGroups WHERE StateGroupId = 1 -- All


--StateCode	StateName	StateAbbreviation	MaxWaiverPremiumAge	MaxApplicantWaiverPremiumAge	MaxWaiverMonthlyDeductionAge	MaxFamilyTermWaiverAge	MaxAcceleratedDeathBenefitAge 
--31	NEW YORK	NY	60	21	65	65	70
-- Remove obsolete StateGroups since All is no longer valid
DELETE from StateSettings  WHERE StateCode = 31 -- NY


-- Add Non-NY to the descriptions for the other state groups
UPDATE StateGroups SET Description = 'Non-MT/NY' WHERE StateGroupId = 1014;
UPDATE StateGroups SET Description = 'Non-MT/OR/NY' WHERE StateGroupId = 1015
UPDATE StateGroups SET Description = 'Non-OR/NY' WHERE StateGroupId = 1016
UPDATE StateGroups SET Description = 'Non-MT/MD/NY' WHERE StateGroupId = 1019
UPDATE StateGroups SET Description = 'Non-MT/OR/MD/NY' WHERE StateGroupId = 1020
UPDATE StateGroups SET Description = 'Non-OR/MD/NY' WHERE StateGroupId = 1021



