<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BulkLifePortraitsUserCreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <BulkLifePortraitsUserCreator.Properties.Settings>
            <setting name="CreateUserServiceInterface" serializeAs="String">
                <value>externalAgentAccountCreatorService</value>
            </setting>
            <setting name="CreateUserServiceMethod" serializeAs="String">
                <value>create</value>
            </setting>
            <setting name="RequestTemplatePath" serializeAs="String">
                <value>CreateUserRequest.xml</value>
            </setting>
            <setting name="DefaultRoleCode" serializeAs="String">
                <value>Default_Agent</value>
            </setting>
            <setting name="DefaultLanguage" serializeAs="String">
                <value>en-us</value>
            </setting>
            <setting name="DefaultDistributionChannel" serializeAs="String">
                <value>DIST_WOW_TEST</value>
            </setting>
        </BulkLifePortraitsUserCreator.Properties.Settings>
    </applicationSettings>
</configuration>