<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LpaUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <applicationSettings>
        <LpaUpdater.Properties.Settings>
            <setting name="LifePortraitsRegKeyPath" serializeAs="String">
                <value>SOFTWARE\WOW6432Node\StoneRiver\ACL\WOW</value>
            </setting>
            <setting name="LifePortraitsRegKeyName" serializeAs="String">
                <value>ApplicationPath</value>
            </setting>
            <setting name="LoggingFolderPath" serializeAs="String">
                <value>C:\Installation_Logs</value>
            </setting>
            <setting name="LifeManagerServiceName" serializeAs="String">
                <value>LifeManagerService - WOW</value>
            </setting>
            <setting name="LifePortraitsServiceName" serializeAs="String">
                <value>LifePortraitsWebServer - WOW</value>
            </setting>
            <setting name="NewLpaVersionNumber" serializeAs="String">
                <value>1.146.5990.68006</value>
            </setting>
            <setting name="TargetLpaVersionNumber" serializeAs="String">
                <value>1.143.5990.68006</value>
            </setting>
            <setting name="PlansDatabasePath" serializeAs="String">
                <value>WOW\Databases\WOWPlans.mdf</value>
            </setting>
            <setting name="VersionFilePath" serializeAs="String">
                <value>WOW\LifePortraits\bin\system.ver</value>
            </setting>
            <setting name="RsuApplicationsFolderPath" serializeAs="String">
                <value>WOW\LifeManager\LifeManager.Service\UAB\applications</value>
            </setting>
            <setting name="RsuDownloadFolderPath" serializeAs="String">
                <value>WOW\LifeManager\LifeManager.Service\UAB\downloader</value>
            </setting>
            <setting name="RsuRegistryFolderPath" serializeAs="String">
                <value>WOW\LifeManager\LifeManager.Service\UAB</value>
            </setting>
            <setting name="LpaConnectionString" serializeAs="String">
                <value>Data Source=database type=mssql;server=(LocalDB)\v11.0;database=WOWPlans;AttachDBFilename=C:\LPLADesktop\WOW\Databases\WOWPlans.mdf;Integrated Security=SSPI</value>
            </setting>
        </LpaUpdater.Properties.Settings>
    </applicationSettings>
</configuration>
