@model WOW.LifePortraitsWebAuthentication.ServiceErrorModel

<h1>MyWoodmen Integration Error</h1>
<p>An error occurred while processing your request. Please contact the Woodmen of the World Help Desk.</p>
<p>Error Code: @Model.ErrorCode</p>
<p>Error Message: @Model.ErrorMessage</p>
