<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WOW.LifePortraitsWebAuthentication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <appSettings>

    </appSettings>

    <connectionStrings>

    </connectionStrings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAgentAccountService">
                    <security mode="Transport">
                        <transport clientCredentialType="None" proxyCredentialType="None"/>
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://lpa-test.woodmen.net/services/AgentAccountService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAgentAccountService" contract="AgentAccountServiceReference.IAgentAccountService" name="BasicHttpBinding_IAgentAccountService"/>
        </client>
    </system.serviceModel>
    <applicationSettings>
        <WOW.LifePortraitsWebAuthentication.Properties.Settings>
            <setting name="LpaUrl" serializeAs="String">
                <value>https://lpa-test.woodmen.net/LifePortraits.aspx</value>
            </setting>
            <setting name="AuthErrorUrl" serializeAs="String">
                <value>http://localhost:37139/Home/Error</value>
            </setting>
            <setting name="ActiveDirectoryDomainName" serializeAs="String">
                <value>HOAD</value>
            </setting>
            <setting name="AllowedFieldOrganizationUnits" serializeAs="String">
                <value>FieldObjects</value>
            </setting>
            <setting name="AllowedHomeOfficeOrganizationUnits" serializeAs="String">
                <value/>
            </setting>
            <setting name="AllowedFieldGroups" serializeAs="String">
                <value/>
            </setting>
            <setting name="AllowedHomeOfficeGroups" serializeAs="String">
                <value/>
            </setting>
            <setting name="AllowedFieldUsers" serializeAs="String">
                <value/>
            </setting>
            <setting name="AllowedHomeOfficeUsers" serializeAs="String">
                <value>DAD7443</value>
            </setting>
            <setting name="HomeOfficeRoleCode" serializeAs="String">
                <value>HO_SeeAll</value>
            </setting>
            <setting name="FieldRoleCode" serializeAs="String">
                <value>Default_Agent</value>
            </setting>
            <setting name="LanguageCode" serializeAs="String">
                <value>en-us</value>
            </setting>
            <setting name="DistributionChannel" serializeAs="String">
                <value>DIST_WOW_TEST</value>
            </setting>
        </WOW.LifePortraitsWebAuthentication.Properties.Settings>
    </applicationSettings>
</configuration>
