<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScatterBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <ScatterBot.Properties.Settings>
            <setting name="MasterServer" serializeAs="String">
                <value>LPAM1</value>
            </setting>
            <setting name="SecondaryServers" serializeAs="String">
                <value>LPAT1</value>
            </setting>
            <setting name="AppServerVersionFilePath" serializeAs="String">
                <value>d$\Accelerate\Server\system.ver</value>
            </setting>
            <setting name="LifeServerVersionFilePath" serializeAs="String">
                <value>d$\Accelerate\LifeServer\system.ver</value>
            </setting>
            <setting name="WebServerVersionFilePath" serializeAs="String">
                <value>d$\Accelerate\Web\bin\system.ver</value>
            </setting>
            <setting name="AppServiceName" serializeAs="String">
                <value>ClientWcfBusinessFacadeServer</value>
            </setting>
            <setting name="LifeServiceName" serializeAs="String">
                <value>LifeServerService</value>
            </setting>
            <setting name="RsuFolderPath" serializeAs="String">
                <value>d$\Accelerate\RSU</value>
            </setting>
        </ScatterBot.Properties.Settings>
    </applicationSettings>
</configuration>