<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MyWoodmenIllustrationClient.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MyWoodmenIllustrationClient.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MyWoodmenIllustrationClient.Tests.Properties.Settings>
            <setting name="DB2Connection" serializeAs="String">
                <value>Provider=IBMDADB2.DB2COPY1;Password=A1PORTT;User ID=PORTTST;Data Source=DB2TEST</value>
            </setting>
        </MyWoodmenIllustrationClient.Tests.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <MyWoodmenIllustrationClient.Tests.Properties.Settings>
            <setting name="BadDB2Connection" serializeAs="String">
                <value>Provider=IBMDADB2.DB2COPY1;Password=A1PORTT;User ID=PORTTST;Data Source=DUMMY</value>
            </setting>
        </MyWoodmenIllustrationClient.Tests.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
