<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MobileRaterServiceTester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <applicationSettings>
        <MobileRaterServiceTester.Properties.Settings>
            <setting name="BaseUrl" serializeAs="String">
                <value>http://localhost:57601/</value>
            </setting>
            <setting name="IndependenceSeriesEndpoint" serializeAs="String">
                <value>api/Rate/FetchIndependenceSeriesRates</value>
            </setting>
            <setting name="PatriotSeriesEndpoint" serializeAs="String">
                <value>api/Rate/FetchPatriotSeriesRate</value>
            </setting>
            <setting name="FamilyTermEndpoint" serializeAs="String">
                <value>api/Rate/FetchFamilyTermRates</value>
            </setting>
            <setting name="LifeRaterEndpoint" serializeAs="String">
                <value>api/Rate/FetchLifeRates</value>
            </setting>
            <setting name="LogFile" serializeAs="String">
                <value>MobileRaterTester.log</value>
            </setting>
            <setting name="ReverseRaterEndpoint" serializeAs="String">
                <value>api/Rate/FetchReverseRates</value>
            </setting>
        </MobileRaterServiceTester.Properties.Settings>
    </applicationSettings>
</configuration>
