<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WOW.PEIllustrationClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger - %message%newline%exception" />
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="PEIllustrationClient.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="EmailAppender" type="log4net.Appender.SmtpAppender">
      <!-- Use commas, not semicolons, to separate values -->
      <to value="DDawson@woodmen.org"/>
      <from value="PrintExpert_Illustration_Client@woodmen.org"/>
      <subject value="PrintExpert Illustration Client Error Notification"/>
      <smtpHost value="oak.woodmen.com"/>
      <!--BufferSize: When error is raised, last X number of messages of all levels get sent to communicate state.-->
      <bufferSize value="10"/>
      <priority value="high"/>
      <lossy value="true"/>
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ERROR"/>
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{yyyy-MM-dd HH:mm:ss.fff}%newline%newlineHost: %property{log4net:HostName}%newline%newline%message%newline%newline"/>
      </layout>
    </appender>
    <logger name="EmailLogger">
      <appender-ref ref="EmailAppender"/>
    </logger>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <applicationSettings>
    <WOW.PEIllustrationClient.Properties.Settings>
      <setting name="IllustrationServiceBaseUrl" serializeAs="String">
        <value>http://appserv-t6:2015/api/</value>
      </setting>
      <setting name="HttpClientRequestTimeout" serializeAs="String">
        <value>00:00:30</value>
      </setting>
      <setting name="FipEndpoint" serializeAs="String">
        <value>Illustrations/GenerateIllustrationViaFip</value>
      </setting>
      <setting name="InputFipFilePath" serializeAs="String">
        <value>C:\\FIPSCO\\WOW\\{0}.fip</value>
      </setting>
      <setting name="RetryCount" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="WarningThresholdRatio" serializeAs="String">
        <value>0.05</value>
      </setting>
      <setting name="MaxConcurrentRequests" serializeAs="String">
        <value>20</value>
      </setting>
    </WOW.PEIllustrationClient.Properties.Settings>
  </applicationSettings>
</configuration>