
@{
    ViewBag.Title = "Create";
}
<style>
    .hr-text {
        line-height: 1em;
        position: relative;
        outline: 0;
        border: 0;
        color: black;
        text-align: center;
        height: 1.5em;
        opacity: .5;
    }
    .hr-text::before {
        content: '';
        /*use the linear-gradient for the fading effect // use a solid background color for a solid bar background: linear-gradient(to right, transparent, #818078, transparent);*/
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 1px;
    }

    .hr-text::after {
        content: attr(data-content);
        position: relative;
        display: inline-block;
        color: black;
        padding: 0 .5em;
        line-height: 1.5em;
        background-color: inherit;
    }

</style>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $('#file').on('change', function () {
            //get the file name
            var filename = $('input[type=file]').val().split('\\').pop();
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(filename);
        });
    </script>
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("", "home")">Test Sets</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("View" ,"TestSet", new { @title = ViewBag.TestName, @id = ViewBag.TestId } )">@ViewBag.TestName</a></li>
        <li class="breadcrumb-item active" aria-current="page">Create</li>
    </ol>
</nav>
<div class="my-3 p-3 bg-white rounded shadow">
    <h2>Create a new Test Case</h2>
    <hr />
    <div class="form-group">
        <label for="name" class="control-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Alabama" required>
    </div>
    <div class="form-group">
        <label>Test File</label>
        <div class="input-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input" name="file" id="file" />
                <label class="custom-file-label" for="file">Choose the file that will uploaded</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div>
            <label for="name" class="control-label">Expected Test Result Values #ced4da</label>
            <div class="card"style="background-color: #e9ecef">
                <div class="card-body">
                    <div style="display: flex; align-items: center; justify-content: space-between">
                        <h5>Where</h5>
                        <input type="text" class="form-control" id="" name="" placeholder="Key" required>
                        <h5>Equals</h5>
                        <input type="text" class="form-control" id="" name="" placeholder="Value" required>
                        <h5>DataType</h5>
                        <select class="form-control">
                            <option value="0">String</option>
                            <option value="1">Number</option>
                            <option value="2">Decimal</option>
                        </select>
                    </div>
                    <div class="mt-1"style="display: flex; align-items: center; justify-content: space-between">
                        <h5>Where</h5>
                        <input type="text" class="form-control" id="" name="" placeholder="Key" required>
                        <h5>Equals</h5>
                        <input type="text" class="form-control" id="" name="" placeholder="Value" required>
                        <h5>DataType</h5>
                        <select class="form-control">
                            <option value="0">String</option>
                            <option value="1">Number</option>
                            <option value="2">Decimal</option>
                        </select>
                    </div>
                    <hr />
                    <button class="btn">Add another</button>
                    <button class="btn btn-danger">Remove last</button>
                </div>
            </div>
            <button class="btn mt-1">Create new group</button>
            
        </div>
    </div>
</div>

