<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ResetUpdates.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <applicationSettings>
        <ResetUpdates.Properties.Settings>
            <setting name="VersionFilePath" serializeAs="String">
                <value>C:\LPLADesktop\WOW\LifePortraits\bin\system.ver</value>
            </setting>
            <setting name="RsuRegistryFolderPath" serializeAs="String">
                <value>C:\LPLADesktop\WOW\LifeManager\LifeManager.Service\UAB\registry</value>
            </setting>
            <setting name="RsuDownloadFolderPath" serializeAs="String">
                <value>C:\LPLADesktop\WOW\LifeManager\LifeManager.Service\UAB\downloader</value>
            </setting>
            <setting name="RsuApplicationsFolderPath" serializeAs="String">
                <value>C:\LPLADesktop\WOW\LifeManager\LifeManager.Service\UAB\applications</value>
            </setting>
            <setting name="LifeManagerServiceName" serializeAs="String">
                <value>LifeManagerService - WOW</value>
            </setting>
            <setting name="LifePortraitsServiceName" serializeAs="String">
                <value>LifePortraitsWebServer - WOW</value>
            </setting>
            <setting name="LocalDbInstancesFolderPath" serializeAs="String">
                <value>C:\Windows\System32\config\systemprofile\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances</value>
            </setting>
            <setting name="LogFilePath" serializeAs="String">
                <value>ResetUpdatesTool.log</value>
            </setting>
        </ResetUpdates.Properties.Settings>
    </applicationSettings>
</configuration>
