use WowLpes_sr
Go

Select count(*) as 'UserData password to blankout'
from UserData
where password > ''
Go

Update UserData
set password=''
where Len(password) > 0
Go

Select @@ROWCOUNT as 'UserData password Rows affected'
Go
----------------------------------------------------------------------

Select count(*) as 'AgentDChannel emailAddres to blankout'
from AgentDChannel
where emailAddress > ''
Go

Update AgentDChannel
set EmailAddress=''
where Len(EmailAddress) > 0
Go

Select @@ROWCOUNT as 'AgentDChannel emailAddress Rows affected'
Go
----------------------------------------------------------------------

Select count(*) as 'AgentDChannelDContactInfo emailAddres to blankout'
from AgentDChannelContactInfo
where emailAddress > ''
Go

Update AgentDChannelContactInfo
set EmailAddress=''
where Len(EmailAddress) > 0
Go

Select @@ROWCOUNT as 'AgentDChannelContactInfo emailAddress Rows affected'
Go
----------------------------------------------------------------------

Select count(*) as 'AgentData emailAddres to blankout'
from AgentData
where emailAddress > ''
Go

Update AgentData
set EmailAddress=''
where Len(EmailAddress) > 0
Go

Select @@ROWCOUNT as 'AgentData EmailAddress Rows affected'
Go
----------------------------------------------------------------------

Select count(*) as 'Person emailAddres to blankout'
from Person
where emailAddress > ''
Go

Update Person
set EmailAddress=''
where Len(EmailAddress) > 0
Go

Select @@ROWCOUNT as 'Person emailAddress Rows affected'
Go
----------------------------------------------------------------------

Select count(*) as 'Address Line1 to blankout'
from Address
where Line1 > ''
Go

Update Address
set Line1=''
where Len(Line1) > 0
Go

Select @@ROWCOUNT as 'Address Line1 Rows affected'
----------------------------------------------------------------------
Go

Select count(*) as 'Address Line2 to blankout'
from Address
where Line2 > ''
Go

Update Address
set Line2=''
where Len(Line2) > 0
Go

Select @@ROWCOUNT as 'Address Line2 Rows affected'
Go
----------------------------------------------------------------------

Select count(*) as 'Address Line3 to blankout'
from Address
where Line3 > ''
Go

Update Address
set Line3=''
where Len(Line3) > 0
Go

Select @@ROWCOUNT as 'Address Line3 Rows affected'
Go
----------------------------------------------------------------------

Select count(*) as 'Address Line4 to blankout'
from Address
where Line4 > ''
Go

Update Address
set Line4=''
where Len(Line4) > 0
Go

Select @@ROWCOUNT as 'Address Line4 Rows affected'
Go
----------------------------------------------------------------------

Select count(*) as 'Address Zip to blankout'
from Address
where Zip > ''
Go

Update Address
set Zip=''
where Len(Zip) > 0
Go

Select @@ROWCOUNT as 'Address Zip Rows affected'
Go
----------------------------------------------------------------------

