USE [master]
GO
/****** Object:  Database [WowService1]    Script Date: 12/6/2018 9:44:53 AM ******/
CREATE DATABASE [WowService1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WowService1', FILENAME = N'C:\Users\w600006\WowService1.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WowService1_log', FILENAME = N'C:\Users\w600006\WowService1_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WowService1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WowService1]
GO
USE [WowService1]
GO
/****** Object:  Table [dbo].[RandomCodeContent]    Script Date: 12/6/2018 9:44:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RandomCodeContent](
	[TableName] [nvarchar](20) NOT NULL,
	[ColumnName] [nvarchar](30) NOT NULL,
	[oldvalue] [nvarchar](200) NOT NULL,
	[newvalue] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_RandomCodeContent] PRIMARY KEY CLUSTERED 
(
	[TableName] ASC,
	[ColumnName] ASC,
	[oldvalue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
